# ==========================================
# BASE DE DATOS FESC (Completar en producción)
# ==========================================
DB_HOST=127.0.0.1
DB_NAME=pg
DB_USER=root
DB_PASS=pg_admin*
DB_CHARSET=utf8mb4

# ==========================================
# CONFIGURACIÓN DE LA APLICACIÓN
# ==========================================
# URL oficial con HTTPS y sin la carpeta /public (El dominio apunta directo allí)
APP_URL=https://perfilglobal.masterteam.online
APP_ENV=production